.tile {
    width: 50px;
    height: 50px;
    background-color: rgb(206, 0, 178);
    display: inline-block;
    vertical-align: top;
    border: 2px solid black;
    border-radius: 4px;
}

.tile:hover {
    background-color: rgb(175, 0, 152);
}

.tile:active {
    background-color: rgb(206, 0, 178);
}

.farmland {
    background-color: hsl(120, 100%, 24%);
    border: 2px solid hsl(24, 78%, 20%);
}

.farmland:hover {
    background-color: hsl(120, 100%, 29%);
}

.farmland:active {
    background-color: hsl(120, 100%, 24%)
}

.farmland-tilled {
    background-color: hsl(24, 78%, 20%);
}

.farmland-tilled:hover {
    background-color: hsl(24, 78%, 25%);
}

.farmland-tilled:active {
    background-color: hsl(24, 78%, 20%);
}

.stone {
    background-color: hsl(0, 0%, 30%);
    border: 2px solid hsl(0, 0%, 20%);
}

.stone:hover {
    background-color: hsl(0, 0%, 35%);
}

.stone:active {
    background-color: hsl(0, 0%, 30%);
}

.item {
    width: 50px;
    height: 50px;
    background-color: hsl(34, 72%, 43%);
    display: inline-block;
    vertical-align: top;
    border: 2px solid rgb(0, 0, 0);
    margin: -1px;
    border-radius: 4px;
}

.item:hover {
    background-color: hsl(34, 71%, 36%);
}

.item:active {
    background-color: hsla(34, 72%, 43%, 0.7);
}

.item-selected {
    background-color: hsl(34, 39%, 61%);
    border: 4px solid rgb(0, 0, 0);
}

.item-selected:hover {
    background-color: hsl(34, 24%, 49%);
}

.plant-type {
    background-color: rgb(189, 173, 31);
}

.plant-type:hover {
    background-color: rgb(156, 143, 26);
}

.plant-type:active {
    background-color: rgb(156, 143, 26);
}

.plant-type.item-selected {
    background-color: hsl(54, 39%, 61%);
}

.plant-type.item-selected:hover {
    background-color: rgb(148, 142, 89);
}

.center-all {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container tr td {
    padding: 30px;
}

body {
    background-color: hsla(0, 0%, 20%, 0.705);
    color: aliceblue;
    touch-action: manipulation;
}